/* header.module.css */

.header {
  background-color: #333; /* Dark background color */
  color: white; /* Text color */
  padding: 20px; /* Padding to create space around the content */
  text-align: center; /* Center align the text */
  font-size: 24px; /* Font size for the header */
  font-weight: bold; /* Bold font weight */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
  border-radius: 6px; /* Add a border radius to create rounded corners */
}