.projectContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projectCategoryContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.app {
  text-align: center;
}

.blue {
  color: #007bff;
  background-color: navy;
}
