#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.searchBar>input {
  width: 400px;
  border-radius: 20px;
  border-color: lightgray;
  border-width: 1px;
  padding: 12px 50px 12px;
  margin: 10px;
}

.searchButton>button {
  font-weight: 400;
  font-size: 14px;
  border-radius: 10px;
  padding: 10px 15px 10px;
  margin: 10px;
  background-color: rgb(249, 249, 249);
  border: 1px solid rgb(249, 249, 249);
}

.searchButton>button:hover {
  border-color: rgb(193, 193, 193);
  border-width: 1px;
}