.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_left {
  flex: 1;
  text-align: left;
}

.footer_right {
  flex: 1;
  text-align: right;
  padding-right: 30px;
}

.footer_right a {
  margin-left: 10px;
  color: #333;
  text-decoration: none;
}