.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
}

.header_right_nav {
  padding-right: 30px;
}

.header_left_nav ul,
.header_right_nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.header_right_nav li,
.header_left_nav li {
  margin-left: 15px;
}

.header_right_nav button {
  background-color: transparent;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}